#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#numbers_div {
  display: grid;
  grid-template-rows: repeat(4, minmax(80px, 5vw));
  grid-template-columns: repeat(3, minmax(80px, 5vw));
  justify-content: center;
  align-content: center;
  margin: 10px;
}